<html data-theme='light'>
    <head>
        <title>Server report</title>
        <meta http-equiv='refresh' content='60'>
        <link rel=stylesheet href=https://unpkg.com/@picocss/pico@latest/css/pico.min.css>
    </head>
    <main class='container'>
        <ul>
            <li>number of metatiles: META_NUM</li>
            <li>number of expired metatiles: DIRTY_NUM</li>
            <li>UPDATE_STATUS</li>
            <li>RENDER_OLD_STATUS</li>
        </ul>
        <small>PRODUCTION_TIME</small>
    </main>
</html>